<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
	<style>
</style>
</th:block>

<div layout:fragment="content">
	<body class="sub_page">
		<section class="book_section layout_padding">

			<div class="container">
				<div class="heading_container">
					<h3 class="qa-h3">카트</h3>
				</div>
				<div class="row" >
					<div class="col-md-"></div>
					<div class="col-md-12">
						<div class="form_container">
							<form action="">
								<div class="table-responsive">

									<table class="table table-hover">
										<thead>
											<tr>
												<th scope="col">주문번호</th>
												<th scope="col">상품명</th>
												<th scope="col">이미지</th>
												<th scope="col">가격</th>
												<th scope="col">수량</th>
												<th scope="col">가격 합계</th>
												<th scope="col">취소</th>
											</tr>
										</thead>
										<tbody th:each="cart : ${carts.getContent()}">
											<tr th:each="cartItem: ${cart.cartItemDtoList}">
												<th class="cart-item" th:text="${cartItem.id}"  scope="row">1</th>
												<td class="cart-item" th:text="${cartItem.itemNm}">피자</td>
												<td class="cart-item"><img th:src="${cartItem.imgUrl}"
													class="img-thumbnail" th:alt="${cartItem.itemNm}"></td>
												<td class="cart-item" th:text="${#numbers.formatInteger(cartItem.cartPrice, 0, 'COMMA')} +'원'">18000원</td>
												<td class="cart-item" th:text="${cartItem.count} + '개'"><button
														class="remove cartbtn-minus cartbtn">-</button>1개
													<button class="remove cartbtn-plus cartbtn">+</button></td>
												<td class="cart-item">18000원</td>
												<td class="cart-item"><button class="remove">x</button></td>
											</tr>

										</tbody>
									</table>
								</div>

								<div class="row">
									<div class="col-md-6"></div>
									<div class="col-md-6 cart-total">
										<div class="row cart-total_flex">
											<div class="col-md-4 cart-total_1">계산서</div>

											<div class="col-md-4 cart-total_2">총 합계</div>
											<div class="col-md-4 cart-total_3">10000 원</div>
										</div>
									</div>
								</div>
								<div class="btn_box cartlist-btn">
									<button>주문/결제하기</button>
								</div>
							</form>
						</div>
					</div>
					<div class="col-md-"></div>
				</div>
			</div>
		</section>
	</body>
</div>

<!-- 각 페이지의 스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
		
	</script>
</th:block>
</html>