<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<head>
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
	<style>
</style>
</th:block>

<div layout:fragment="content">
	<body class="sub_page">

		<section class="food_section layout_padding">
			<div class="container">
			<form action="">
				<div class="heading_container heading_center">

					<h3 class="qa-h3">메뉴정보</h3>

				</div>


				<div class="filters-content">
					<div class=" itemInfo-main">
						<div class=" all pizza itemInfo-main_info">
							<div class="box">
							<input type="hidden" id="itemId" th:value="${item.id}">
								<div>
									<div class="img-box">
										<img th:src="${item.itemImgDtoList[0].imgUrl}" th:alt="${item.itemNm}">
									</div>
									<div class="detail-box">
										<h5 th:text="${item.itemNm}"></h5>
										<p th:text="${item.itemDetail}"></p>
										<div class="options">
											<input type="hidden" th:value="${item.price}" id="price" name="price">
											<h6 th:text="|${#numbers.formatInteger(item.price, 0, 'COMMA')}원|"></h6>
										</div>
										<div th:text="${item.regTime}">등록일자</div>
										<div th:text="${item.itemSellStatus}">판매중</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="btn_box float-end itemMng-add itemInfo-add ">
					<div style="margin-right: 10px">
						<!-- <button type="button" class=" itemInfo-btn" th:onclick="javascript:location.href='/admin/item/' + ${item.id};">수정하기</button> -->
						<a class="iteminfo-modify" th:href="'/admin/item/' + ${item.id}">수정하기</a>
					</div>
					<div>
						<button class=" itemInfo-btn" type="button" onclick="location.href='/admin/items'">목록으로</button>
					</div>

				</div>
			</form>
			</div>
		</section>

	</body>
</div>
<!-- 각 페이지의 스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
		
	</script>
</th:block>
</html>