@charset "UTF-8";

a{
	text-decoration: none !important;
	font-size: 20px;
}

a:hover {
	color: green;
}

* {
	margin-top: 50px;
	text-align: center;
}


#main-insert {

	padding-bottom: 20px;
}

div {
}