@charset "UTF-8";


a{
	text-decoration: none !important;
}

a:hover {
	color: green;
}

.header {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	height: 150px;
	line-height: 150px;
	border-bottom: 1px solid black;
}

.opinion {
	width: 1200px;
	margin: 0 auto;
}

.footer_con {
	text-align: center;
	height: 70px;
	line-height: 70px;
	width: 100%;
	bottom: 0;
	margin-top: 20px;
	border-top: 1px solid;
}
