<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="css/article.css"/>
</th:block>
	
	<div layout:fragment="opinion" id="bbs">
		<div id="bbsArticle">
		<div class="article-info">
			<dl>
				<dt>성명</dt>
				<dd th:text="${hospital.name}" id="article-name"></dd>
			</dl>
		</div>
		
		
		<div class="article-all">
		
		<div class="article-info1">
			<dl>
				<dt>생년월일</dt>
				<dd class="article-dd" th:text="${hospital.birth}"></dd>
				<dt>E-Mail</dt>
				<dd class="article-dd" th:text="${hospital.email}"></dd>
			</dl>
		</div>
		
		<div class="article-info2">
			<dl>
				<dt>증상</dt>
				<dd class="article-dd" th:text="${hospital.symptom}"></dd>
				<dt>전화번호</dt>
				<dd class="article-dd" th:text="${hospital.tel}"></dd>
			</dl>
		</div>
		<div>
			<dl id="article-created">
				<dt>등록일</dt>
				<dd class="article-dd" th:text="${hospital.created}"></dd>
			</dl>
		</div>		
		</div>
			<div id="article-opinion">소견</div>
		
		<div class="article-info2">
			<table width="631">
			<tr>
				<td>
				 <textarea class="form-control" id="exampleFormControlTextarea1" rows="12" cols="82" name="opinion" th:text="${hospital.opinion}"></textarea>
				</td>
			</tr>
			</table>
		</div>
		
		</div>
		
		<div class="article-btn">
			<div>
			<button type="button" class="btn btn-outline-success" th:onclick="|location.href='updated?num=@{${hospital.num}}&@{${params}}'|">수정</button>
			<button type="button" class="btn btn-outline-info" th:onclick="|location.href='list?@{${params}}'|">리스트</button>			
			</div>
			<div>
			<button type="button" class="btn btn-danger" th:onclick="|location.href='deleted_ok?num=@{${hospital.num}}&@{${params}}'|">삭제</button>
			</div>
		</div>
	</div>

</html>