<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
	<style>
	input::placeholder {
			color: red;
			}
</style>
</th:block>

<div layout:fragment="content">
	<body class="sub_page">
		<section class="book_section layout_padding">

			<div class="container">
				<div class="heading_container">
					<h3 class="qa-h3" style="margin-left: 200px">비밀번호 찾기</h3>
				</div>
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<div class="form_container">
							<form action="">
								<div>
									<label class="memberForm-label" for="email">이메일</label> 
									<input type="email"
										class="form-control find-email" placeholder="E-mail을 입력해주세요." id="email" />
								</div>
								<div>
									<label class="memberForm-label" for="name">이름</label> 
									<input type="text"
										class="form-control" placeholder="이름을 입력해주세요." id="name"/>
								</div>
								
								<div id="checkMsg" style="color: red"></div>
								<div class="btn_box">
									<button type="button" id="checkEmail">찾기</button>
									<button type="button" onclick="location.href='/member/login'">취소
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>
		</section>
	</body>
</div>

<!-- 각 페이지의 스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">

    $('.modal').on('hidden.bs.modal', function (e) {
        console.log('modal close');
        $(this).find('form')[0].reset()
    });

    $("#checkEmail").click(function () {
        let email = $("#email").val();
        let name = $("#name").val();

        $.ajax({
            type: "GET",
            url: "/check/findPw",
            data: {
                "email": email,
                "name": name
            },
            success: function (res) {
                if (res['check']) {
                    swal("발송 완료!", "입력하신 이메일로 임시비밀번호가 발송되었습니다.", "success").then((OK) = > {
                        if(OK) {
                            $.ajax({
                                type: "POST",
                                url: "/check/findPw/sendEmail",
                                data: {
                                    "email": email,
                                    "name": name
                                }
                            })
                            window.location = "/member/login";
                        }


                    }
                )
                    $('#checkMsg').html('<p style="color:darkblue"></p>');
                } else {
                    $('#checkMsg').html('<p style="color:red">일치하는 정보가 없습니다.</p>');
                }
            }
        })
    })

	</script>
</th:block>
</html>