<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
	
	    <!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
	<style>

	</style>
</th:block>

<div layout:fragment="content">
<body class="sub_page">
	 <section class="book_section layout_padding">
  
	 <div class="container">
      <div class="heading_container">
        <h2 style="margin-left: 200px">
          REGISTER
        </h2>
      </div>
      <div class="row">
      	<div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="form_container">
            <form action="">
              <div>
              <label>아이디</label>
                <input type="text" class="form-control" placeholder="ID" />
              </div>
              <div>
              <label>비밀번호</label>
                <input type="password" class="form-control" placeholder="Pass Word" />
              </div>
              <div>
              <label>생년월일</label>
                <input type="date" class="form-control" placeholder="Birth" />
              </div>
              <div>
              <label>이메일</label>
                <input type="email" class="form-control" placeholder="E-Mail" />
              </div>
              <div>
              <label>주소</label>
                <input type="text" class="form-control" placeholder="Adress" />
              </div>
              <div class="btn_box">
                <button>
                  작성완료
                </button>
                <button th:onclick="javascript:location.href='/';">
				취소
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </section>
</body>
</div>
	
	  <!-- 각 페이지의 스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
	</script>
</th:block>
</html>