<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
	<style>
</style>
</th:block>

<div layout:fragment="content">
<body class="sub_page">
	<section class="book_section layout_padding">

			<div class="container">
				<div class="heading_container">
					<h3 class="qa-h3" style="margin-left: 200px">문의내역</h3>
				</div>
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<div class="form_container">
							<form action="">
								<table class="table qalist-table">
									<thead>
										<tr>
											<th scope="col">글번호</th>
											<th scope="col">작성자</th>
											<th scope="col">제목</th>
											<th scope="col">접수일자</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">1</th>
											<td><a href="/member/qaInfo" style="color: red">홍길동</a></td>
											<td>문의드립니다</td>
											<td>2023/06/29</td>
										</tr>
										<tr>
											<th scope="row">2</th>
											<td>Jacob</td>
											<td>Thornton</td>
											<td>@fat</td>
										</tr>
									</tbody>
								</table>
								<div>
									<nav aria-label="Page navigation example">
										<ul class="pagination itemMng-page">
											<li class="page-item"><a class="page-link" href="#"
												aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
											</a></li>
											<li class="page-item"><a class="page-link" href="#">1</a></li>
											<li class="page-item"><a class="page-link" href="#">2</a></li>
											<li class="page-item"><a class="page-link" href="#">3</a></li>
											<li class="page-item"><a class="page-link" href="#"
												aria-label="Next"> <span aria-hidden="true">&raquo;</span>
											</a></li>
										</ul>
									</nav>
								</div>
								<div class="btn_box float-end itemMng-add">
									<button ></button>
									</button>
								</div>
							</form>
						</div>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>
		</section>
	</body>
</div>


<!-- 각 페이지의 스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
		
	</script>
</th:block>

</html>